@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    scrollbar-width: auto;
    scrollbar-color: #666 #ffffff;
    scroll-behavior: smooth;
}

:root{
    --logo:30px;
    --fontSize:19px;
    --slider:6vw;
    --subHead:36px;
}

::selection{
    background-color: #555;
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #333;
}

body{
    overflow-x: hidden;
}

/*--  Container Box 1  --*/


#container_one{
    position: relative;
    top: 0;
    left: 0;
    height: 570px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#container_one .navbox{
    position: fixed;
    left: 0;
    height:50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 1);
    user-select: none;
    z-index: 10;
    box-shadow: 2px 2px 5px #333;
}

#container_one .navbox #logo{
    margin-right: auto;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}
#container_one .navbox #logo img{
    height: 60px;
    width: 60px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}
#container_one .navbox #logo h2{
    font-size: var(--logo);
}
#container_one .navbox #logo h2 span{
    color: #30e849;
}

/*-- Location Field --*/

#container_one .navbox .geoLocation_field{
    position: relative;
    top:50%;
    left: 8%;
    transform: translate(-50%,-50%);
    height: 90%;
    width: 350px;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}

#container_one .navbox .geoLocation_field input{
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 30px;
    outline: none;
    text-transform: capitalize;
    text-overflow: ellipsis;
    border:2px solid #ddd;
    border-radius:5px;
}

#container_one .navbox .geoLocation_field lord-icon{
    position: absolute;
    left: 2px;
    height: 35px;
    width: 35px;
    pointer-events: none;
    user-select: none;
}

#container_one .navbox .geoLocation_field i{
    position: absolute;
    right:10px;
    font-size: 22px;
    color: #30e849;
    pointer-events: none;
    user-select: none;
}

#container_one .navbox .geoLocation_field::before{
    content: '';
    position: absolute;
    top:50%;
    left: 40px;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: #000;
}

#container_one .navbox .geoLocation_field .getLocation_box{
    position: absolute;
    top:40px;
    left: 0;
    height: 100%;
    width: 65%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px #555;
    display: none;
    opacity: 0;
    margin-top: -5px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius:6px;
    transition: 0.2s;
}

#container_one .navbox .geoLocation_field .getLocation_box:hover{
    background-color: ghostwhite;
}

#container_one .navbox .geoLocation_field .getLocation_box img{
    height: 25px;
    width: 25px;
}

#container_one .navbox .geoLocation_field .getLocation_box h2{
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
}


/*-- Location Field End --*/

#container_one .navbox #navbar{
    height: 100%;
    /* width: 50%; */
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#container_one .navbox #navbar li{
    list-style: none;
    font-size: var(--fontSize);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}
#container_one .navbox #navbar li > a{
    position: relative;
    text-decoration: none;
    color:#000;
    text-transform: capitalize;
    margin-right: 10px;
    height: 28px;
    font-family: 'Catamaran', sans-serif;
}

#container_one .navbox #navbar li:nth-child(4){
    position: relative;
    min-width: 120px;
    height: 100%;
}

#container_one .navbox #navbar li:nth-child(4) img{
    height: 12px;
    width: 12px;
    transform: rotateZ(0deg);
    transform: 0.2s ease;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 105%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;
    max-width: 130px;
    box-shadow: 1px 1px 8px #777;
    pointer-events: none;
    opacity: 0;
    border-radius: 5px;
    transition: 0.2s ease;
    overflow: hidden;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt{
    position: relative;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s ease;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding:5px;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt::before{
    content: '';
    position: absolute;
    bottom: 1px;
    right: 45%;
    transform: translateX(-50%);
    height: 3px;
    width: 0%;
    background-color: chartreuse;
    transition: 0.2s ease;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt:hover::before{
    width: 50%;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt > i{
    font-size: 16px;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt:nth-child(1) > i{
    margin-left: 5px;
}

#container_one .navbox #navbar li:nth-child(4) #sub_list .opt:nth-child(3) > i{
    font-size: 18px;
    margin-right:10px;
}



/*-- Toogle Navbar Indicator --*/

#container_one .navbox #navbar li .home_indicate{
    transition: 0.2s ease;
}
#container_one .navbox #navbar li .category_indicate{
    transition: 0.2s ease;
}
#container_one .navbox #navbar li .service_indicate{
    transition: 0.2s ease;
}

#container_one .navbox #navbar li .indicator{
    color: #30e849;
    border-bottom: 2px solid #000;
}

/*-- End At Here --*/

#container_one .navbox #navbar li > a::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background-color: #30e849;
    z-index: -1;
    transition: 0.2s ease-out;
}
#container_one .navbox #navbar li:nth-child(3) > lord-icon{
    height: 37px;
    width: 37px;
}
#container_one .navbox #navbar li > lord-icon{
    height: 35px;
    width: 35px;
    user-select: none;
    pointer-events: none;
}


#container_one .navbox #navbar li:hover > a{
    color:#30e849;
}

#container_one .navbox #navbar li:hover > a:not(.indicator)::before{
    background-color: #000;
    width: 100%;
}


/*-- Search Box --*/

#search_box{
    position: fixed;
    top:55px;
    display: flex;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6),
                -1px 2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    transition: 0.2s ease-in;
}

.searchBox_hide{
    position: fixed;
    top: 0 !important;
}

#search_box input::placeholder{
    font-weight: 600;
    user-select: none;
}
#search_box input::-webkit-calendar-picker-indicator{
    display: none !important;
}

#search_box input::-webkit-search-decoration,
#search_box input::-webkit-search-cancel-button,
#search_box input::-webkit-search-results-button,
#search_box input::-webkit-search-results-decoration {
  cursor: pointer; 
}

#search_box lord-icon{
    position: absolute;
    top: 7px;
    left: 0;
    height: 30px;
    width:40px;
    margin-left: 5px;
    border-right: 3px solid chartreuse;
    transition: 0.2s linear;
}

#search_box input{
    height: 45px;
    width: 500px;
    padding-left: 50px;
    padding-right: 10px;
    outline: none;
    font-size: var(--fontSize);
    text-transform: capitalize;
    caret-color: #666;
    color: black;
    font-weight: 600;
    border-radius: 8px;
}

#search_box input:focus ~ lord-icon{
    border-right: 3px solid #30e849;
}

#container_one #slider{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: orangered;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    transition: 0.2s ease;
}

#container_one #slider .slider_box{
    height: 100%;
    width: 100%;
    display: flex;
}

#container_one #slider .slider_box .side_left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 7%;
    margin-left: -3%;
    overflow: hidden;
    transition: 0.8s ease;
}

#container_one #slider .slider_box .side_left > div{
    font-size: var(--slider);
    margin-right: -50%;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    transition: 0.5s ease;
    text-shadow: 2px 2px 5px #000;
    -webkit-text-stroke: 0.5px #000;
    font-family: 'Hammersmith One', system-ui;
}
#container_one #slider .slider_box .side_left > div:nth-child(2){
    opacity: 0;
}
#container_one #slider .slider_box .side_left > div:nth-child(3){
    opacity: 0;
}
#container_one #slider .slider_box .side_right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -8%;
    overflow: hidden;
    transition: 0.8s ease;
}

#container_one #slider .slider_box .side_right > div{
    font-size: var(--slider);
    margin-left: -40%;
    width: 80%;
    text-align: center;
    font-weight: 400;
    background-color: #fff;
    transition: 0.5s ease;
    text-shadow: 2px 2px 4px #666;
    font-family: 'Hammersmith One', system-ui;
}


#container_one #slider .slider_box .side_right > div:nth-child(1){
    opacity: 0;
}
#container_one #slider .slider_box .side_right > div:nth-child(2){
    opacity: 0;
}

#container_one #slider #item_box{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 250px;
    z-index: -1;
    pointer-events: none;
}

#container_one #slider #item_box img{
    height: 55px;
    width: 55px;
    filter: drop-shadow(2px 2px 3px #000);
    transition: 1s ease;
}

#container_one #slider #item_box img:nth-child(1){
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotateZ(20deg);
}
#container_one #slider #item_box img:nth-child(2){
    position: absolute;
    top: 300px;
    left: 200px;
    transform: rotateZ(-40deg);
    transition-delay: 0.2s;
}
#container_one #slider #item_box img:nth-child(3){
    position: absolute;
    top: 500px;
    left: 80px;
    transform: rotateZ(-10deg);
}
#container_one #slider #item_box img:nth-child(4){
    position: absolute;
    top: 100px;
    left: 400px;
    transform: rotateZ(60deg);
    transition-delay: 0.2s;
}
#container_one #slider #item_box img:nth-child(5){
    position: absolute;
    top: 300px;
    left: 550px;
    transform: rotateZ(80deg);
}
#container_one #slider #item_box img:nth-child(6){
    position: absolute;
    top: 100px;
    right: 620px;
    transform: rotateZ(20deg);
    transition-delay: 0.2s;
}
#container_one #slider #item_box img:nth-child(7){
    position: absolute;
    top: 130px;
    right:100px;
    transform: rotateZ(40deg);
}
#container_one #slider #item_box img:nth-child(8){
    position: absolute;
    top: 290px;
    right:300px;
    transform: rotateZ(-10deg);
    transition-delay: 0.2s;
}
#container_one #slider #item_box img:nth-child(9){
    position: absolute;
    top: 480px;
    right:450px;
    transform: rotateZ(-30deg);
}
#container_one #slider #item_box img:nth-child(10){
    position: absolute;
    top: 420px;
    right:100px;
    transform: rotateZ(30deg);
    transition-delay: 0.2s;
}
#container_one #slider #item_box img:nth-child(11){
    position: absolute;
    top: 100px;
    right:400px;
    transform: rotateZ(-50deg);
}
#container_one #slider #item_box img:nth-child(12){
    position: absolute;
    top: 480px;
    left:500px;
    transform: rotateZ(40deg);
    transition-delay: 0.2s;
}

/*--  Container Box 2  --*/

#container_two{
    position: relative;
    top: -10px;
    height: 850px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#container_two .topwave{
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100vw;
    z-index: -20;
    transition: 0.2s ease;
    filter: blur(5px);
}
#container_two .topwave svg{
    z-index: -20;
    transition: 0.2s ease;
}

#container_two .mousedown{
    margin-top: 10px;
    height: 60px;
    width: 60px;
    opacity: 1;
    transition: 0.3s ease-out;
    animation: float 0.8s ease-out infinite alternate;
}

@keyframes float{
    to{
        transform: translateY(0px);
    }
    from{
        transform: translateY(8px);
    }
}

.mousedown_hide{
    opacity: 0 !important;
}


#container_two #category_list{
    position: absolute;
    top: 120px;
    height: 70px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px groove #ddd;
    user-select: none;
    box-shadow: 2px 2px 4px #222,
                -2px 2px 4px #222;
    border-radius: 7px;
    background-color: #fff;
}

#container_two #category_list li{
    position: relative;
    list-style-type: none;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#container_two #category_list li:nth-child(1):hover{
    background-color: rgba(255, 68, 0, 0.4);
}

#container_two #category_list li:nth-child(2):hover{
    background-color: rgba(135, 207, 235, 0.4);
}

#container_two #category_list li:nth-child(3):hover{
    background-color: rgba(128, 255, 0, 0.4);
}

#container_two #category_list li::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 60%;
    width: 3px;
    background-color: #000;
    border-top:3px solid chartreuse;
    border-bottom:3px solid chartreuse;
}

#container_two #category_list li:nth-child(1)::after{
    display: none;
}

#container_two #category_list li img{
    height: 45px;
    width: 45px;
    margin-right: 20px;
    transition: 0.2s ease;
}

#container_two #category_list li:hover > img{
    transform: scale(1.05);
}

#container_two #filter{
    position: absolute;
    top:235px;
    width: 1150px;
    /* width: 90vw; */
    border-bottom: 2px solid #000;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#container_two #filter h1{ /* Shop Bar */
    font-size: var(--logo);
}

#container_two #filter .main_filters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    /* width: 50%; */
}
#container_two #filter .main_filters li{
    position: relative;
    list-style: none;
    font-size: var(--fontSize);
    color: #000;
    transition: 0.2s ease;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
}

#container_two #filter .main_filters .relevent_select{
    background-color: #30e849;
    color: #fff;
    border-radius: 6px;
    border:1px solid #000;
}

/* -- Toggle Classes for subNav -- */

#container_two #filter .main_filters .relevent{
    color :#fff;
    background-color:#30e849;
    border-radius:5px;
    border:1px solid #000;
}

#container_two #filter .main_filters .timing{
    color :#fff;
    background-color:#30e849;
    border-radius:5px;
    border:1px solid #000;
}

#container_two #filter .main_filters .rate{
    color :#fff;
    background-color:#30e849;
    border-radius:5px;
    border:1px solid #000;
}

#container_two #filter .main_filters .near{
    color :#fff;
    background-color:#30e849;
    border-radius:5px;
    border:1px solid #000;
}

/* ---- End At Here ---- */

#container_two #filter .main_filters .childHead{
    color: rgb(61, 55, 55);
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    cursor: unset;
}

#container_two #filter .main_filters .childHead img{
    height: 40px;
    width: 40px;
}

#container_two #filter .main_filters li:not(.relevent,.childHead,.timing,.rate,.near):hover{
    color:#30e849;
}


#container_two #detail_section::-webkit-scrollbar,
#container_two #detail_section::-webkit-scrollbar-track {
    width: 12px;
}

#container_two #detail_section{
    position: absolute;
    top:320px;
    height: 500px;
    width: 1000px;
    /* width: 80vw; */
    margin-bottom: 20px;
    overflow-y:scroll;
    overflow-x: hidden;
    padding: 5px;
    border-radius: 8px;
}

#container_two #detail_section::-webkit-scrollbar {
    width: 10px;
}

#container_two #detail_section a{
    color: #000;
    text-decoration: none;
}

#container_two #detail_section .detail_container{
    height: 180px;
    width: 100%;
    margin: 5px 5px;
    border-radius: 8px;
    border: 3px solid grey;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    user-select: none;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}


#container_two #detail_section .detail_container:hover{
    box-shadow: 1px 1px 2px #777;
}

#container_two #detail_section .detail_container > img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    transition: 0.3s ease;
    overflow: hidden;
}

#container_two #detail_section .detail_container > img:hover{
    transform: scale(1.08);
}

#container_two #detail_section .detail_container:hover > img{
    transform: scale(1.08);
}

#container_two #detail_section .detail_container .description{
    position: relative;
    padding: 10px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
    background-color: #fff;
}


#container_two #detail_section .detail_container .description .shop_name{
    font-size: var(--subHead);
}

#container_two #detail_section .detail_container .description .shop_name::first-letter{
    color: #30e849;
}

#container_two #detail_section .detail_container .description hr{
    margin-top: auto;
    opacity: 0.5;
}

#container_two #detail_section .detail_container .description .category{
    margin-top: 7px;
    font-size: 16px;
    color: #555;
}

#container_two #detail_section .detail_container .description .deliv_time{
    align-self: flex-end;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    font-weight: 700;
    font-size: var(--fontSize);
}

#container_two #detail_section .detail_container .description .deliv_time lord-icon{
    height: 35px;
    width: 35px;
    transition: 0.2s ease;
}

#container_two #detail_section .detail_container .description .deliv_time .place_time{
    transition: 0.2s ease;
}
#container_two #detail_section .detail_container .description::before{
    content: '';
    position: absolute;
    top:50%;
    left:-3px;
    transform: translateY(-50%);
    height: 75%;
    width: 4px;
    border-top:8px solid chartreuse;
    border-bottom:8px solid chartreuse;
    background-color: #000;
}

#container_two #detail_section .detail_container .description .rating_bar{
    display: flex;
    justify-content: space-between;
    height:25px;
    width: 55px;
    padding:2px 5px;
    border-radius: 5px;
    background-color: orange;
}

#container_two #detail_section .detail_container .description .rating_bar li{
    list-style: none;
    color: #fff;
    align-self: center;
    font-weight: 600;
}

#container_two #detail_section .detail_container .description .rating_bar .star{
    height: 100%;
    width: 20px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#container_two #detail_section .detail_container .description .sub_description{
    margin: 2px 0;
}

#container_two #detail_section .detail_container .description .shop_status{
    position: absolute;
    right: 10px;
    bottom: 43px;
    font-weight: 600;
    background: #555;
    color: #fff;
    height: 23px;
    width: 90px;
    border-radius: 6px;
    padding: 2px;
    font-size: 13px;
    text-align: center;
    
}

/*-- SUB_Slider --*/

#sub_slider{
    position: relative;
    height: 300px;
    width: 100vw;
    background: transparent;
    display: flex;
    user-select: none;
    pointer-events: none;
}

#sub_slider div{
    height: 100%;
    width: 100%;
}

#sub_slider div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/*-- Sub Slider --*/

#service{
    position: relative;
    margin-top: 10px;
    height: 300px;
    width: 100vw;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#service .main_container{
    position: absolute;
    height: 200px;
    width: 90%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#service .main_container div{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    user-select: none;
    margin-top: -20px;
}

#service .main_container div::before{
    content: '';
    position: absolute;
    top:60%;
    left: 10px;
    transform: translateY(-50%);
    height: 80%;
    width: 1.5px;
    background-color: #ddd;
    opacity: 0.7;
}

#service .main_container div:nth-child(1):before{
    display: none;
}

#service .main_container div:nth-child(3):before{
    content: '';
    position: absolute;
    top:80%;
    left: 10px;
    height: 110%;
}

#service .main_container div:nth-child(1){
    height: 85%;
}
#service .main_container div:nth-child(2){
    height: 75%;
}
#service .main_container div:nth-child(3){
    height:55%;
}
#service .main_container div:nth-child(4){
    height:75%;
}


#service .main_container div > h1{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline #ddd;
}

#service .main_container div > h1:nth-child(1){
    text-transform: none;
}

#service .main_container div > h1::first-letter{
    color:#30e849;
}

#service .main_container div > li{
    list-style: none;
    color:gainsboro;
    opacity: 0.8;
    cursor: pointer;
    font-size: 13px;
}

#service .main_container div > li a{
    color: gainsboro;
    text-decoration: none;
}

#service .main_container div > li:hover{
    color:#fff;
    opacity: 1;
}

#service .footer{
    position: absolute;
    bottom: 15px;
    color:#fff;
    font-weight: 300;
    padding: 0 10px;
}

#service .footer .social_platform{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

#service .footer .social_platform a{
    color: #fff;
    cursor: pointer;
}

#service .footer .social_platform i{
    font-size: 25px;
}

#service .footer hr{
    margin-bottom:5px;
    opacity: 0.8;
    color:gainsboro;
}


