@media (max-width:1350px){
    #container_one .navbox #navbar {
        height: 100%;
        width: 50vw;
    }
}

@media (max-width:1320px){
    #container_one .navbox #navbar {
        width: 48vw;
    }
}

@media (max-width:1260px){
    #container_one .navbox #navbar {
        width: 46vw;
    }
    #container_one #slider #item_box img:nth-child(1) {
        left: 7vw;
    }
    #container_one #slider #item_box img:nth-child(2) {
        left: 12vw;
    }
    #container_one #slider #item_box img:nth-child(3) {
        left: 6vw;
    }
    #container_one #slider #item_box img:nth-child(4) {
        left: 30vw;
    }
    #container_one #slider #item_box img:nth-child(5) {
        left: 38vw;
    }
    #container_one #slider #item_box img:nth-child(6) {
        right: 46vw;
    }
    #container_one #slider #item_box img:nth-child(7) {
        right: 7vw;
    }
    #container_one #slider #item_box img:nth-child(8) {
        right: 20vw;
    }
    #container_one #slider #item_box img:nth-child(9) {
        right: 36vw;
    }
    #container_one #slider #item_box img:nth-child(10) {
        right: 12vw;
    }
    #container_one #slider #item_box img:nth-child(11) {
        right: 27vw;
    }
    #container_one #slider #item_box img:nth-child(12) {
        left: 32vw;
    }
}

@media (max-width:1210px){
    #container_one .navbox #navbar {
        width: 44vw;
    }
    #container_two #filter {
        position: absolute;
        width: 97vw;
    }
    #container_two #filter .main_filters {
        width: 650px;
    }
}

@media (max-width:1175px){
    #container_one .navbox #navbar {
        width: 48vw;
    }
    #container_one .navbox .geoLocation_field {
        height: 75%;
        width: 310px;
    }
}

@media (max-width:1140px){
    #container_one .navbox .geoLocation_field input {
        font-size: 15px;
    }
    #container_one .navbox .geoLocation_field {
        height: 75%;
        width: 280px;
    }
    #container_one .navbox #navbar {
        width: 50vw;
    }
    #service .footer {
        font-size: 1.32vw;
        position: absolute;
        left: -5px;
    }
    #container_two #filter .main_filters {
        height: 30px;
    }
}

@media (max-width:1100px){
    :root {
        --logo: 28px;
        --fontSize: 17px;
    }
    #container_one .navbox #navbar li > lord-icon {
        height: 32px;
        width: 32px;
    }
    #container_one .navbox #navbar li:nth-child(3) > lord-icon {
        height: 35px;
        width: 35px;
    }
    #container_one .navbox #navbar {
        width: 48vw;
    }
}

@media (max-width:1050px){
    #container_one .navbox #navbar {
        width: 48vw;
    }
    #container_one .navbox #logo {
        margin-left: 20px;
    }
    #container_one .navbox .geoLocation_field {
        height: 75%;
        width: 260px;
    }
    #container_two #detail_section {
        position: absolute;
        width: 95vw;
    }
    #container_two #filter .main_filters {
        width: 550px;
    }
    #sub_slider div:nth-child(2) img{
        margin-top: 30px;
        transform: scale(1.2);
    }
    #sub_slider div:nth-child(3) img{
        margin-top: 30px;
        transform: scale(1.1);
    }
}


@media (max-width:990px){
    #container_one .navbox #logo {
        margin-left: 25px;
    }
    #container_one .navbox .geoLocation_field {
        width: 230px;
    }   
    #container_one .navbox .geoLocation_field .getLocation_box {
        width: 80%;
    }
    #container_one .navbox .geoLocation_field .getLocation_box h2 {
        font-size: 14px;
    }
    #container_one .navbox .geoLocation_field i {
        font-size: 17px;
    }
}

@media (max-width:910px){
    #container_one .navbox .geoLocation_field {
        width: 200px;
    }
    #container_one .navbox #logo {
        margin-left: 30px;
    }
    #container_one .navbox #navbar li:nth-child(4) #sub_list {
        width: 95%;
    }
    #container_one .navbox #navbar li:nth-child(4) #sub_list .opt:nth-child(1) > i {
        margin-left: 0px;
    }
    #container_one .navbox #navbar li:nth-child(4) #sub_list .opt > i {
        font-size: 14px;
        margin-left: -5px;
    }
    #container_one .navbox #navbar li:nth-child(4) #sub_list .opt:nth-child(3) > i {
        font-size: 15px;
    }
    #container_one .navbox #navbar {
        width: 50vw;
    }
    #container_one #slider #item_box img {
        height: 45px;
        width: 45px;
    }
    #container_one #slider .slider_box .side_left > div,
    #container_one #slider .slider_box .side_right > div{
        transform: scale(1.2);
    }
    #container_one .navbox .geoLocation_field .getLocation_box {
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 2px;
    }
    #container_one .navbox .geoLocation_field {
        height: 80%;
    }
    #container_two #detail_section .detail_container > img {
        width: 25%;
    }    
}

@media (max-width:880px) {
    #container_one #slider #item_box img {
        height: 45px;
        width: 45px;
    }
    #container_one .navbox #navbar li > lord-icon {
        height: 28px;
        width: 28px;
    }
    #container_one .navbox #navbar li:nth-child(3) > lord-icon {
        height: 32px;
        width: 32px;
    }
    #container_one .navbox .geoLocation_field lord-icon {
        position: absolute;
        left: 5px;
        height: 32px;
        width: 32px;
    }
    #container_one .navbox .geoLocation_field {
        width: 160px;
        left: 4vw;
        box-shadow: none;
        border-radius: 0;
    }
    #container_one .navbox .geoLocation_field input{
        border: none;
        border-bottom: 3px solid #999;
        border-radius: 0;
    }
    #sub_slider div:nth-child(1),
    #sub_slider div:nth-child(3){
        z-index: -1;
    }
}

@media (max-width:830px){
    #container_one .navbox .geoLocation_field {
        left: 5vw;
    }
    #container_one .navbox #logo {
        margin-left: 35px;
    }
    #container_one #slider .slider_box .side_right {
        z-index: -1;
    }
}

@media (max-width:810px){
    #container_one .navbox #navbar #icon_1,
    #container_one .navbox #navbar #icon_2,
    #container_one .navbox #navbar #icon_3{
        display: none;
    }
    #container_one .navbox #navbar {
        width: 130px;
    }
    #container_one .navbox .geoLocation_field{
        width: 200px;
        left: 300px;
        box-shadow: none;
        position: absolute;
        border-radius: 0;
    }
    #container_one .navbox .geoLocation_field input{
        border: none;
        border-bottom: 2px solid #999;
        padding-left: 45px;
        border-radius: 0;
    }
    #container_one .navbox .geoLocation_field lord-icon {
        left: 0px;
    }
    #container_one .navbox .geoLocation_field::before {
        left: 35px;
    }
    #container_one #slider .slider_box .side_left > div,
    #container_one #slider .slider_box .side_right > div{
        transform: scale(1.3);
    }
    #container_one .navbox #logo {
        margin-right: auto;
        width: 120px;
    }
    #container_one #slider #item_box img:nth-child(5) {
        left: 49vw;
    }
    #container_one #slider #item_box img:nth-child(8) {
        right: 17vw;
    }
    #container_one #slider #item_box img:nth-child(10) {
        right: 10vw;
    }
    #container_two #filter .main_filters .childHead img {
        height: 35px;
        width: 35px;
    }
    #container_two #filter .main_filters .childHead{
        font-size: 16px;
    }
    #container_two #filter .main_filters li{
        font-size: 16px;
    }
    #container_two #detail_section .detail_container > img {
        width: 30%;
    }
}

@media (max-width:760px){
    #container_two #filter .main_filters {
        width: 65vw;
        justify-content: space-between;
    }
    #container_two #filter {
        position: absolute;
        width: 99vw;
    }
    #sub_slider div img {
        height: 80%;
        width: 100%;
    }
    #service {
        margin-top: -40px;
    }
    #service .main_container {
        width: 100%;
    }
    #service .main_container div:nth-child(3){
        height: 60%;
    }
    #service .main_container div::before{
        display: none;
    }
}

@media (max-width:740px){
    :root {
        --subHead: 32px;
    }
    #container_two #detail_section .detail_container .description .category {
        font-size: 13px;
    }
    #container_two #detail_section .detail_container .description .sub_description {
        font-size: 14px;
    }
    #container_two #detail_section .detail_container .description .shop_status {
        position: absolute;
        right: 10px;
        bottom: 40px;
        font-weight: 600;
        background: #555;
        color: #fff;
        height: 23px;
        width: 75px;
    }
    #container_two #detail_section .detail_container .description .deliv_time lord-icon {
        height: 30px;
        width: 30px;
    }
    #container_two #detail_section .detail_container .description .rating_bar {
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 50px;
    }
    #container_two #detail_section .detail_container .description .rating_bar .star {
        height: 100%;
        width: 17px;
    }
    #service .footer {
        font-size: 2vw;
        text-align: center;
    }
    #container_one #slider .slider_box .side_left > div,
    #container_one #slider .slider_box .side_right > div {
        transform: scale(1.5);
    }
}

@media (max-width:670px){
    :root {
        --logo: 26px;
    }
    #container_two #filter .main_filters .relevent,
    #container_two #filter .main_filters .timing,
    #container_two #filter .main_filters .rate,
    #container_two #filter .main_filters .near{
        font-size: 14px;
    }
    #container_two #detail_section {
        position: absolute;
        width: 98vw;
    }
    #service .main_container div > li a {
        font-size: 12px;
    }
    #service .footer {
        position: absolute;
        bottom: 5px;
    }
    #container_one .navbox #logo img {
        height: 55px;
        width: 55px;
    }
    #container_one .navbox .geoLocation_field {
        width: 200px;
        left: 300px;
        height: 80%;
    }
    #container_one .navbox {
        position: fixed;
        left: 0;
        height: 45px;
    }
}

@media (max-width:650px){
    #service .main_container div li{
        font-size: 14px;
    }
    #service .footer .social_platform i {
        font-size: 22px;
    }
    #container_two #category_list {
        position: absolute;
        top: 120px;
        height: 60px;
        width: 90vw;
    }
    #container_two #category_list li img {
        height: 38px;
        width: 38px;
    }
    #container_one #slider .slider_box .side_left > div,
    #container_one #slider .slider_box .side_right > div {
        transform: scale(1.8);
    }
}

@media (max-width:620px){
    #container_two #filter .main_filters .childHead img {
        height: 30px;
        width: 30px;
    }
    #container_two #filter .main_filters li {
        font-size: 14px;
    }
    #container_two #filter .main_filters .relevent, #container_two #filter .main_filters .timing, #container_two #filter .main_filters .rate, #container_two #filter .main_filters .near {
        font-size: 14px;
    }
    #container_two .mousedown {
        margin-top: 10px;
        height: 50px;
        width: 50px;
    }
    #container_two #detail_section .detail_container .description .category {
        font-size: 2.15vw;
        width: 76%;
    }
}

@media (max-width:590px){
    :root{
        --fontSize: 16px;
    }
    #container_two #detail_section .detail_container .description .deliv_time {
        align-self: flex-end;
        display: flex;
        height: 35px;
        justify-content: space-around;
        align-items: center;
        width: 75px;
        font-size: 14px;
    }
    #container_two #detail_section .detail_container .description .deliv_time lord-icon {
        height: 25px;
        width: 25px;
    }
    #container_two #detail_section .detail_container .description .shop_status {
        height: 23px;
        font-size: 2.2vw;
        width: 12.5vw;
    }
    #container_two #detail_section .detail_container {
        height: 165px;
    }
    #container_two #filter {
        height: 40px;
    }
    #service {
        margin-top: -60px;
    }
}








